/* ACARROZZO 2018 STYLES */
/* line 5, ../assets/scss/style.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 30, ../assets/scss/style.scss */
.red {
  color: #ef404a;
}

/* line 31, ../assets/scss/style.scss */
.blue {
  color: #00aeef;
}

/* line 32, ../assets/scss/style.scss */
.green {
  color: #70bf54;
}

/* line 33, ../assets/scss/style.scss */
.yellow {
  color: #ffc20e;
}

/* line 34, ../assets/scss/style.scss */
.purple {
  color: #a880b9;
}

/* line 35, ../assets/scss/style.scss */
.gray {
  color: #999;
}

/* line 37, ../assets/scss/style.scss */
.redBG {
  background: #ef404a;
}

/* line 38, ../assets/scss/style.scss */
.blueBG {
  background: #00aeef;
}

/* line 39, ../assets/scss/style.scss */
.greenBG {
  background: #70bf54;
}

/* line 40, ../assets/scss/style.scss */
.yellowBG {
  background: #ffc20e;
}

/* line 41, ../assets/scss/style.scss */
.purpleBG {
  background: #a880b9;
}

/* line 42, ../assets/scss/style.scss */
.grayBG {
  background: #999;
}

/* line 83, ../assets/scss/style.scss */
XXX* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ----- MAIN ----- */
/* line 91, ../assets/scss/style.scss */
html {
  font-family: 'Droid Serif', 'Helvetica', sans-serif;
  line-height: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 93, ../assets/scss/style.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 100, ../assets/scss/style.scss */
main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* line 101, ../assets/scss/style.scss */
a {
  color: #ef404a;
  text-decoration: none;
  line-height: 1.4em;
}

/* line 102, ../assets/scss/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 103, ../assets/scss/style.scss */
a[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
  content: "\f08e";
  font-family: FontAwesome;
}
/* line 108, ../assets/scss/style.scss */
a[target="_blank"]:after:hover {
  text-decoration: none;
}

/* line 110, ../assets/scss/style.scss */
a[target="_blank"].none:after {
  display: none;
}

/* line 113, ../assets/scss/style.scss */
.btn {
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
  background: #ef404a;
  background: linear-gradient(#ef404a, #c41520);
  color: #fff;
  padding: 6px;
  border-radius: 50px;
  margin: 0 0 10px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
}
/* line 126, ../assets/scss/style.scss */
.btn.big {
  padding: 12px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  font-size: 1.2rem;
  font-weight: 900;
}
/* line 134, ../assets/scss/style.scss */
.btn i {
  position: absolute;
  right: 18px;
  font-size: 1.6em;
  top: 9px;
}

/* line 141, ../assets/scss/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 142, ../assets/scss/style.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ----- MISC ----- */
/* line 148, ../assets/scss/style.scss */
.noBorder {
  border: 0;
}

/* line 149, ../assets/scss/style.scss */
.hide {
  display: none;
}

/* line 150, ../assets/scss/style.scss */
.clear {
  clear: both;
}

/* ----- NAV ----- */
/* line 152, ../assets/scss/style.scss */
nav {
  text-align: center;
  background: #444;
  overflow: hidden;
  color: #fff;
  background-size: cover;
  background-position: center;
}
/* line 160, ../assets/scss/style.scss */
nav ul {
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  overflow-x: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}
/* line 167, ../assets/scss/style.scss */
nav li {
  display: inline-block;
}
/* line 173, ../assets/scss/style.scss */
nav a {
  padding: 6px 20px;
  padding: 6px 18px;
  display: inline-block;
  color: #fff;
  font-weight: 900;
  font-size: 1rem;
  font-style: italic;
  line-height: 2em;
  width: 100%;
}
/* line 184, ../assets/scss/style.scss */
nav a.active {
  color: #333;
  background: #f7f7f7;
  pointer-events: none;
}
/* line 189, ../assets/scss/style.scss */
nav a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}
/* line 194, ../assets/scss/style.scss */
nav .topIcon {
  display: block;
  max-width: 80px;
  margin: 10vh auto;
  -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.7));
}
/* line 202, ../assets/scss/style.scss */
nav .topIcon svg {
  fill: #fff;
}

/* ----- PROFILE IMAGE ----- */
/* line 210, ../assets/scss/style.scss */
.cImg {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  float: right;
  overflow: hidden;
  margin: 20px 0 0 20px;
  display: block;
}

/* ----- SECTIONS ----- */
/* line 221, ../assets/scss/style.scss */
section {
  margin: 0 20px;
  padding: 20px 0 40px;
  padding: 1.5rem 0 3rem;
  padding: 2rem 0 2rem;
  clear: both;
  position: relative;
  display: inline-block;
  border-bottom: solid 1px #999;
}

/* line 233, ../assets/scss/style.scss */
hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 0;
  display: inline-block;
  width: 100%;
}

/* ----- TYPE ----- */
/* line 245, ../assets/scss/style.scss */
h1 {
  font-size: .7rem;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: default;
  font-weight: 300;
  letter-spacing: .7em;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
}

/* line 261, ../assets/scss/style.scss */
h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  letter-spacing: -.02em;
  padding: 0;
  margin: 0;
}

/* line 268, ../assets/scss/style.scss */
h2 {
  padding: 20px 20px 0 55px;
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  display: inline-block;
}
/* line 274, ../assets/scss/style.scss */
h2 + figure {
  margin-top: 20px;
}
/* line 275, ../assets/scss/style.scss */
h2 + [id^=slides] {
  margin-top: 20px;
}

/* line 278, ../assets/scss/style.scss */
h3 {
  font-size: 1.8rem;
  line-height: 1.2em;
  margin-top: 20px;
}

/* line 285, ../assets/scss/style.scss */
h4 {
  font-size: 1.2rem;
  line-height: 1.4em;
  color: #ef404a;
  margin: 2px 0 10px;
}

/* line 292, ../assets/scss/style.scss */
h5 {
  font-size: 1.1rem;
  margin: 15px 0 0px;
}

/* line 297, ../assets/scss/style.scss */
h6 {
  font-size: 1rem;
}

/* ----- POSITION STYLES ----- */
/* line 306, ../assets/scss/style.scss */
.left {
  width: 40%;
  float: left;
  margin: 10px 20px 10px 0;
}

/* line 311, ../assets/scss/style.scss */
.left50 {
  width: calc(50% - 20px);
  float: left;
  margin: 10px 20px 10px 0;
}

/* line 316, ../assets/scss/style.scss */
.left20 {
  width: calc(20% - 10px);
  float: left;
  margin: 10px 10px 10px 0;
}

/* line 321, ../assets/scss/style.scss */
.left33 {
  width: 33.33%;
  float: left;
  padding: 0 0 0 10px;
  margin: 10px 10px 0px -10px;
}

/* line 327, ../assets/scss/style.scss */
.right {
  width: 40%;
  float: right;
  margin: 10px 0 10px 20px;
}

/* line 332, ../assets/scss/style.scss */
.right50 {
  width: calc(50% - 20px);
  float: right;
  margin: 10px 0 10px 20px;
}

/* line 337, ../assets/scss/style.scss */
.right20 {
  width: calc(20% - 10px);
  float: right;
  margin: 10px 0 10px 10px;
}

/* line 342, ../assets/scss/style.scss */
.right33 {
  width: 33.33%;
  float: right;
  padding: 0 10px 0 0;
  margin: 10px -10px 0px 10px;
}

/* ----- photo grid ----- */
/* line 354, ../assets/scss/style.scss */
.grid {
  overflow-x: hidden;
}
/* line 356, ../assets/scss/style.scss */
.grid figure:not(.full) {
  width: 33.33%;
  float: left;
  padding: 0 0px 0 0px;
  margin: 3px 8px 0px -5px;
}
/* line 361, ../assets/scss/style.scss */
.grid figure:not(.full):nth-of-type(3n+1) {
  margin-right: -3px;
}
/* line 364, ../assets/scss/style.scss */
.grid figure:not(.full):first-child {
  width: 100%;
  margin: 0;
  float: none;
}
/* line 370, ../assets/scss/style.scss */
.grid.padding figure:not(.full) {
  padding: 4px;
  margin: 0px;
}
/* line 374, ../assets/scss/style.scss */
.grid.margin figure:not(.full) {
  margin: 0px;
}
/* line 377, ../assets/scss/style.scss */
.grid h5 {
  display: inline-block;
}

/* line 383, ../assets/scss/style.scss */
[data-pop].full {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  background: #111;
  text-align: center;
  z-index: 1;
}
/* line 395, ../assets/scss/style.scss */
[data-pop].full img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
/* line 402, ../assets/scss/style.scss */
[data-pop].full:before {
  content: "\f066";
}
/* line 405, ../assets/scss/style.scss */
[data-pop].full figcaption {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  text-shadow: 1px 1px 4px #000, 1px 1px 10px #000;
  font-weight: 900;
}
/* line 416, ../assets/scss/style.scss */
[data-pop].full.gal .nextFig, [data-pop].full.gal .prevFig {
  display: block;
  color: #fff;
  font-size: 32px;
  color: #ccc;
  padding: 20px;
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 424, ../assets/scss/style.scss */
[data-pop].full.gal .nextFig:hover, [data-pop].full.gal .prevFig:hover {
  color: #fff;
}
/* line 426, ../assets/scss/style.scss */
[data-pop].full.gal .prevFig {
  left: 0px;
}
/* line 427, ../assets/scss/style.scss */
[data-pop].full.gal .nextFig {
  right: 0px;
}
/* line 429, ../assets/scss/style.scss */
[data-pop].full.gal:first-of-type .prevFig {
  display: none;
}
/* line 430, ../assets/scss/style.scss */
[data-pop].full.gal:last-of-type .nextFig {
  display: none;
}
/* line 432, ../assets/scss/style.scss */
[data-pop].full.hide {
  display: block;
}

/* line 434, ../assets/scss/style.scss */
[data-pop] {
  cursor: pointer;
}
/* line 436, ../assets/scss/style.scss */
[data-pop]:before {
  content: "\f065";
  font-family: FontAwesome;
  position: absolute;
  color: #fff;
  right: 7px;
  top: 7px;
  line-height: 1em;
  font-size: 1rem;
}
/* line 446, ../assets/scss/style.scss */
[data-pop] .nextFig, [data-pop] .prevFig {
  display: none;
}

/* ----- LIST ----- */
/* line 450, ../assets/scss/style.scss */
.list li {
  border-top: solid 1px #ccc;
  overflow: hidden;
  padding: 10px 0;
}
/* line 455, ../assets/scss/style.scss */
.list li:first-child {
  border: 0;
}
/* line 456, ../assets/scss/style.scss */
.list .left, .list .right {
  margin-top: 10px;
}
/* line 459, ../assets/scss/style.scss */
.list a p {
  color: #000;
  line-height: 1.4em;
}
/* line 464, ../assets/scss/style.scss */
.list.split li {
  border-top: solid 1px #ccc;
  padding: 0;
}

/* ----- MORE ----- */
/* line 472, ../assets/scss/style.scss */
.more {
  display: none;
}

/* ----- CODE BOXES ----- */
/* line 475, ../assets/scss/style.scss */
pre {
  margin: 0 0 20px;
  padding: 10px 15px;
  border: solid 1px #ccc;
  background: #fff;
  overflow: auto;
}

/* ----- MEDIA BOX ----- */
/* line 483, ../assets/scss/style.scss */
figure {
  position: relative;
  margin: 0 -20px;
  width: 100vw;
}

/* line 490, ../assets/scss/style.scss */
figcaption, .caption, h5 + p {
  font-size: .9rem;
  padding: 8px 0;
  color: #ef404a;
  line-height: 1.5em;
  font-weight: 900;
}

/* ----- SLIDES JS ----- */
/* line 499, ../assets/scss/style.scss */
*[id^='slides'] {
  display: none;
  position: relative;
}
/* line 502, ../assets/scss/style.scss */
*[id^='slides'].max {
  width: 100vw;
  margin: 0;
  position: fixed;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
}

/* line 513, ../assets/scss/style.scss */
.slidesjs-container {
  overflow: hidden;
}

/* line 514, ../assets/scss/style.scss */
.slidesjs-navigation {
  position: absolute;
  font-size: 42px;
  color: #ef404a;
  padding: 5px 0;
}

/* line 515, ../assets/scss/style.scss */
.slidesjs-previous {
  left: 0px;
}

/* line 516, ../assets/scss/style.scss */
.slidesjs-next {
  right: 0px;
}

/* line 517, ../assets/scss/style.scss */
.slidesjs-pagination {
  padding: 20px;
  text-align: center;
  margin: 0;
}

/* line 518, ../assets/scss/style.scss */
.slidesjs-pagination li {
  display: inline-block;
}

/* line 519, ../assets/scss/style.scss */
.slidesjs-pagination li a {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  overflow: hidden;
  border: solid 2px #ef404a;
  margin: 0px 5px;
  text-indent: -999px;
}

/* line 529, ../assets/scss/style.scss */
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
  background: #ef404a;
  background: linear-gradient(#ef404a, #c41520);
}

/* ----- FOOTER ----- */
/* line 536, ../assets/scss/style.scss */
footer {
  text-align: center;
  clear: both;
  margin: 0 auto;
  padding: 0 0 22px;
}
/* line 543, ../assets/scss/style.scss */
footer section {
  border: 0;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}
/* line 549, ../assets/scss/style.scss */
footer p {
  color: #eee;
  max-width: 800px;
  margin: 0 auto;
}
/* line 553, ../assets/scss/style.scss */
footer ul {
  padding: 0px;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: 10px 0;
}
/* line 560, ../assets/scss/style.scss */
footer li {
  list-style: none;
  display: inline-block;
}
/* line 563, ../assets/scss/style.scss */
footer li a {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background: #ef404a;
  background: linear-gradient(#ef404a, #c41520);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  margin: 5px;
}
/* line 572, ../assets/scss/style.scss */
footer li a.active {
  box-shadow: none;
  background: #222;
  opacity: 0.6;
  pointer-events: none;
  top: 1px;
  position: relative;
}
/* line 582, ../assets/scss/style.scss */
footer .cImg {
  float: none;
  display: block;
  margin: 10px auto 0;
  width: 80px;
  height: 80px;
}
/* line 590, ../assets/scss/style.scss */
footer .no-click {
  pointer-events: none;
}

/* line 595, ../assets/scss/style.scss */
.smallText {
  font-size: .8rem;
  color: #666;
}

/* line 602, ../assets/scss/style.scss */
.mapsFrame {
  margin: 20px;
}
/* line 604, ../assets/scss/style.scss */
.mapsFrame img {
  width: 33.333%;
  float: left;
}

/* ----- COLLAPSE SECTIONS ----- */
/* line 612, ../assets/scss/style.scss */
.collapser {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
/* line 617, ../assets/scss/style.scss */
.collapser section:first-child {
  display: block;
}
/* line 618, ../assets/scss/style.scss */
.collapser:before {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: 16px;
  line-height: 1em;
  font-size: 1.8rem;
  height: 40px;
  left: 20px;
  padding: 7px 11px 7px 7px;
  padding: 0;
  background: 0;
  padding-top: 4px;
}

/* line 642, ../assets/scss/style.scss */
.collapser.expanded:before {
  content: "\f106";
  padding-top: 4px;
}

/* line 647, ../assets/scss/style.scss */
.collapser:not(.expanded) {
  padding-bottom: 20px;
}

/* line 651, ../assets/scss/style.scss */
.collapserContent {
  display: none;
  padding-bottom: 20px;
}

/* line 657, ../assets/scss/style.scss */
.expanded + .collapserContent {
  display: block;
}

/* ------------ RESPONSE  - JUST Tablet */
/* ------------ RESPONSE  - Bigger than Phone */
@media (min-width: 680px) {
  /* line 672, ../assets/scss/style.scss */
  section {
    overflow: hidden;
  }

  /* line 681, ../assets/scss/style.scss */
  nav ul {
    display: block;
  }
  /* line 682, ../assets/scss/style.scss */
  nav li {
    width: auto;
  }

  /* line 687, ../assets/scss/style.scss */
  figure {
    margin: 0;
    width: 100%;
  }

  /* line 692, ../assets/scss/style.scss */
  .cImg {
    margin-top: 0px;
  }

  /* line 700, ../assets/scss/style.scss */
  .list.split li {
    width: 50%;
    float: left;
    padding: 0 20px 0 0;
  }

  /* line 707, ../assets/scss/style.scss */
  #top {
    width: 100%;
  }
  /* line 708, ../assets/scss/style.scss */
  #top *[id^='slides'] {
    width: 60%;
    float: left;
    margin: 0 30px 0 0;
  }

  /* line 715, ../assets/scss/style.scss */
  #center {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    clear: both;
  }

  /* line 716, ../assets/scss/style.scss */
  #left, #left2 {
    width: 100%;
    max-width: 35%;
    float: left;
    border-right: solid 1px #ccc;
  }

  /* line 717, ../assets/scss/style.scss */
  #right, #right2 {
    width: 100%;
    max-width: 35%;
    float: right;
  }

  /* line 718, ../assets/scss/style.scss */
  #primary {
    width: 100%;
    max-width: 65%;
    display: inline-block;
  }

  /* line 719, ../assets/scss/style.scss */
  #secondary {
    width: 100%;
    max-width: 35%;
    float: right;
  }

  /* line 724, ../assets/scss/style.scss */
  .justTablet + .collapserContent, .justMobile + .collapserContent {
    display: block;
  }

  /* line 733, ../assets/scss/style.scss */
  .leftDesk {
    width: 50%;
    float: left;
    padding: 10px 20px 10px 0;
  }
  /* line 738, ../assets/scss/style.scss */
  .leftDesk[data-pop]:before {
    right: 27px;
    top: 17px;
  }

  /* line 744, ../assets/scss/style.scss */
  .rightDesk {
    width: 50%;
    float: right;
    padding: 10px 0 10px 20px;
  }

  /* line 749, ../assets/scss/style.scss */
  footer {
    margin: 0 auto;
  }
}
/* ------------ RESPONSE  - Bigger than TABLET - hover styles too */
@media (min-width: 800px) {
  /* line 757, ../assets/scss/style.scss */
  footer li a:hover {
    background: linear-gradient(#c41520, #ef404a);
    text-decoration: none;
    top: 1px;
    position: relative;
  }
}
/* Scss Document */
/* line 42, ../assets/scss/_stickman.scss */
#stickman {
  height: 210px;
  position: relative;
  width: 300px;
  margin: 0px auto;
}
/* line 48, ../assets/scss/_stickman.scss */
#stickman .bPart {
  background: #ccc;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
/* line 49, ../assets/scss/_stickman.scss */
#stickman .bPart .armorPiece {
  top: 2px;
  left: 2px;
  background: #888;
  position: absolute;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}
/* line 51, ../assets/scss/_stickman.scss */
#stickman.heavy .bPart, #stickman.heavy .armorPiece {
  width: 16px;
}
/* line 52, ../assets/scss/_stickman.scss */
#stickman.light .bPart, #stickman.light .armorPiece {
  width: 4px;
}
/* line 54, ../assets/scss/_stickman.scss */
#stickman.square .bPart, #stickman.square .armorPiece {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 55, ../assets/scss/_stickman.scss */
#stickman.round .bPart, #stickman.round .armorPiece {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/* line 56, ../assets/scss/_stickman.scss */
#stickman.ellipse .bPart, #stickman.ellipse .armorPiece {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 58, ../assets/scss/_stickman.scss */
#stickman .upperHalf {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  position: relative;
  top: 0px;
}
/* line 59, ../assets/scss/_stickman.scss */
#stickman.leanBack .upperHalf {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  right: 12px;
}
/* line 60, ../assets/scss/_stickman.scss */
#stickman.leanForward .upperHalf {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  right: -12px;
}
/* line 62, ../assets/scss/_stickman.scss */
#stickman.zoomX2 {
  transform: scale(2);
  background: #eee;
}

/* line 64, ../assets/scss/_stickman.scss */
#stickman #head {
  top: 48px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
/* line 70, ../assets/scss/_stickman.scss */
#stickman #head .eyes {
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  bottom: 0;
}
/* line 71, ../assets/scss/_stickman.scss */
#stickman #head .eyes > i {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  background: #fff;
}
/* line 72, ../assets/scss/_stickman.scss */
#stickman #head .eyes > i .pupil {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  background: #000;
  top: 7px;
  left: 7px;
}
/* line 73, ../assets/scss/_stickman.scss */
#stickman #head .eyes .e1 {
  left: 3px;
}
/* line 74, ../assets/scss/_stickman.scss */
#stickman #head .eyes .e2 {
  left: 27px;
}

/* line 80, ../assets/scss/_stickman.scss */
#body {
  left: 0;
  right: 0;
  top: 105px;
  width: 10px;
  height: 40px;
  margin: 0 auto;
}
/* line 84, ../assets/scss/_stickman.scss */
#body .armorPiece {
  width: 10px;
  height: 40px;
  margin: 0 auto;
}

/* line 87, ../assets/scss/_stickman.scss */
#leftArm {
  left: 0;
  right: 38px;
  top: 101px;
  width: 10px;
  height: 30px;
  margin: 0 auto;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 92, ../assets/scss/_stickman.scss */
#leftArm .armorPiece {
  width: 10px;
  height: 30px;
  margin: 0 auto;
}

/* line 95, ../assets/scss/_stickman.scss */
#rightArm {
  left: 38px;
  right: 0;
  top: 101px;
  width: 10px;
  height: 30px;
  margin: 0 auto;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
/* line 100, ../assets/scss/_stickman.scss */
#rightArm .armorPiece {
  width: 10px;
  height: 30px;
  margin: 0 auto;
}

/* line 103, ../assets/scss/_stickman.scss */
#leftLeg {
  left: 0;
  right: 32px;
  top: 145px;
  width: 10px;
  height: 40px;
  margin: 0 auto;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}
/* line 108, ../assets/scss/_stickman.scss */
#leftLeg .armorPiece {
  width: 10px;
  height: 40px;
  margin: 0 auto;
}

/* line 110, ../assets/scss/_stickman.scss */
#rightLeg {
  left: 32px;
  right: 0;
  top: 145px;
  width: 10px;
  height: 40px;
  margin: 0 auto;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 115, ../assets/scss/_stickman.scss */
#rightLeg .armorPiece {
  width: 10px;
  height: 40px;
  margin: 0 auto;
}

/* line 125, ../assets/scss/_stickman.scss */
.buttons span {
  padding: 8px 10px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 0;
  border-radius: 5px;
  background: #666;
  color: #fff;
}
/* line 133, ../assets/scss/_stickman.scss */
.buttons span:hover {
  background: #ef404a;
}
/* line 134, ../assets/scss/_stickman.scss */
.buttons span.active {
  background: #ef404a;
}

/* line 146, ../assets/scss/_stickman.scss */
#stickman .bPart, #skewBox, #raceBox {
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* ---------------------------- sword // every weapon */
/* line 156, ../assets/scss/_stickman.scss */
#equipped.armRaise #leftArm {
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -ms-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  transform: rotate(115deg);
  top: 88px;
  right: 50px;
}

/* line 160, ../assets/scss/_stickman.scss */
#equipped #swordHand {
  position: relative;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 167, ../assets/scss/_stickman.scss */
#equipped.armWeapon #swordHand {
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  top: 11px;
  left: 25px;
}

/* line 172, ../assets/scss/_stickman.scss */
#equipped.armWeapon #swordHand i {
  background: #666;
  position: absolute;
  border-radius: 10px;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 177, ../assets/scss/_stickman.scss */
#equipped.armWeapon #swordHand i.p1 {
  width: 7px;
  height: 100px;
  left: 0;
  right: 170px;
  margin: 0 auto;
  top: -10px;
}

/* line 183, ../assets/scss/_stickman.scss */
#equipped.armWeapon #swordHand i.p2 {
  width: 35px;
  height: 7px;
  left: 0;
  right: 170px;
  margin: 0 auto;
  top: 60px;
}

/* ---------------------------- shield */
/* line 194, ../assets/scss/_stickman.scss */
#equipped #shieldHand {
  position: relative;
  opacity: 0;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 199, ../assets/scss/_stickman.scss */
#equipped.armShield #shieldHand {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 87px;
  left: 9px;
  opacity: 1;
}

/* line 205, ../assets/scss/_stickman.scss */
#equipped.armShield #shieldHand i {
  background: #666;
  position: absolute;
  border-radius: 10px;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

/* line 210, ../assets/scss/_stickman.scss */
#equipped.armShield #shieldHand i.p1 {
  width: 10px;
  height: 50px;
  left: 87px;
  right: 0px;
  margin: 0 auto;
  top: 5px;
}

/* ---------------------------- 2h sword */
/* line 223, ../assets/scss/_stickman.scss */
#equipped.arm2h #leftArm {
  height: 20px;
  right: 30px;
}

/* line 227, ../assets/scss/_stickman.scss */
#equipped.arm2h #leftArm .armorPiece {
  height: 20px;
}

/* line 229, ../assets/scss/_stickman.scss */
#equipped.arm2h #rightArm {
  right: 37px;
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  -o-transform: rotate(50deg);
  transform: rotate(50deg);
  height: 32px;
  top: 101px;
}

/* line 234, ../assets/scss/_stickman.scss */
#equipped.arm2h #swordHand {
  top: 15px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  left: 13px;
}

/* line 238, ../assets/scss/_stickman.scss */
#equipped.arm2h #swordHand i.p1 {
  height: 170px;
  top: -70px;
  width: 9px;
}

/* line 243, ../assets/scss/_stickman.scss */
#equipped.arm2h #swordHand i.p2 {
  height: 9px;
}

/* ---------------------------- dagger */
/* line 249, ../assets/scss/_stickman.scss */
#equipped.armDagger #swordHand {
  top: 25px;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
  left: -55px;
}

/* line 253, ../assets/scss/_stickman.scss */
#equipped.armDagger #swordHand i.p1 {
  height: 40px;
  top: 40px;
  right: 167px;
}

/* line 258, ../assets/scss/_stickman.scss */
#equipped.armDagger #swordHand i.p2 {
  width: 20px;
  top: 62px;
  right: 167px;
}

/* ---------------------------- alt dagger */
/* line 264, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #leftArm {
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  transform: rotate(55deg);
  left: -6px;
  top: 99px;
}

/* line 269, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #swordHand {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
  top: 75px;
  left: 35px;
}

/* line 274, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #swordHand i.p1 {
  height: 40px;
  top: 30px;
}

/* line 278, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #swordHand i.p2 {
  width: 20px;
  top: 42px;
}

/* ---------------------------- off hand dagger */
/* line 284, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #rightArm {
  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
  transform: rotate(-55deg);
  left: 44px;
  top: 99px;
}

/* line 289, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #shieldHand {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 87px;
  left: 9px;
  opacity: 1;
}

/* line 295, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #shieldHand i {
  background: #666;
  position: absolute;
  border-radius: 10px;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

/* line 298, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #shieldHand i.p1 {
  width: 7px;
  height: 40px;
  left: 92px;
  right: 0px;
  margin: 0 auto;
  top: 18px;
}

/* line 304, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #shieldHand i.p2 {
  width: 20px;
  height: 7px;
  left: 92px;
  right: 0px;
  margin: 0 auto;
  top: 31px;
}

/* ---------------------------- alt dagger - nod head */
/* line 314, ../assets/scss/_stickman.scss */
#equipped.armAltDagger .upperHalf {
  top: 3px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/* line 318, ../assets/scss/_stickman.scss */
#equipped.armAltDagger #head {
  top: 53px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}

/* ---------------------------- bo staff */
/* line 325, ../assets/scss/_stickman.scss */
#equipped.armBo #swordHand {
  top: 15px;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  left: 13px;
}

/* line 330, ../assets/scss/_stickman.scss */
#equipped.armBo #swordHand i.p1 {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  top: 3px;
  background-color: #aa6666;
  right: 167px;
}

/* line 335, ../assets/scss/_stickman.scss */
#equipped.armBo #swordHand i.p2 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
  top: 86px;
  height: 10px;
  width: 30px;
  right: 166px;
  background: #fff;
  opacity: .5;
  border-radius: 0;
}

/* ---------------------------- Warhammer */
/* line 346, ../assets/scss/_stickman.scss */
#equipped.armWarhammer #swordHand {
  top: 14px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
  left: -3px;
}

/* line 350, ../assets/scss/_stickman.scss */
#equipped.armWarhammer #swordHand i.p1 {
  height: 160px;
  top: -62px;
  border-radius: 0 0 10px 10px;
  width: 11px;
}

/* line 356, ../assets/scss/_stickman.scss */
#equipped.armWarhammer #swordHand i.p2 {
  height: 70px;
  top: -58px;
  width: 70px;
  border-radius: 0;
}

/* ---------------------------- BattleAxe */
/* line 365, ../assets/scss/_stickman.scss */
#equipped.armBattleAxe #swordHand {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  top: 18px;
  left: 15px;
}

/* line 371, ../assets/scss/_stickman.scss */
#equipped.armBattleAxe #swordHand i.p1 {
  height: 150px;
  top: -50px;
  border-radius: 10px;
  width: 10px;
}

/* line 377, ../assets/scss/_stickman.scss */
#equipped.armBattleAxe #swordHand i.p2 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid #666;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  transform: rotate(-90deg);
  top: -60px;
  left: -10px;
}

/* line 391, ../assets/scss/_stickman.scss */
#equipped.armBattleAxe #swordHand i.p3 {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 70px solid #666;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  transform: rotate(90deg);
  top: -60px;
  left: 30px;
}
