/* ACARROZZO 2018 STYLES */
/* line 19, ../assets/scss/archimedes.scss */
.red {
  color: #ef404a;
}

/* line 20, ../assets/scss/archimedes.scss */
.blue {
  color: #00aeef;
}

/* line 21, ../assets/scss/archimedes.scss */
.green {
  color: #70bf54;
}

/* line 22, ../assets/scss/archimedes.scss */
.yellow {
  color: #ffc20e;
}

/* line 23, ../assets/scss/archimedes.scss */
.purple {
  color: #a880b9;
}

/* line 24, ../assets/scss/archimedes.scss */
.gray {
  color: #999;
}

/* line 26, ../assets/scss/archimedes.scss */
.redBG {
  background: #ef404a;
}

/* line 27, ../assets/scss/archimedes.scss */
.blueBG {
  background: #00aeef;
}

/* line 28, ../assets/scss/archimedes.scss */
.greenBG {
  background: #70bf54;
}

/* line 29, ../assets/scss/archimedes.scss */
.yellowBG {
  background: #ffc20e;
}

/* line 30, ../assets/scss/archimedes.scss */
.purpleBG {
  background: #a880b9;
}

/* line 31, ../assets/scss/archimedes.scss */
.grayBG {
  background: #999;
}

/* line 69, ../assets/scss/archimedes.scss */
XXX* {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 77, ../assets/scss/archimedes.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 91, ../assets/scss/archimedes.scss */
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* ----- MAIN ----- */
/* line 98, ../assets/scss/archimedes.scss */
html {
  line-height: 1em;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 100, ../assets/scss/archimedes.scss */
body {
  font-family: 'Baloo', cursive;
  margin: 0;
  background: #f7f7f7;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 106, ../assets/scss/archimedes.scss */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 113, ../assets/scss/archimedes.scss */
*, :after, :before {
  box-sizing: border-box;
}

/* line 117, ../assets/scss/archimedes.scss */
main {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 118, ../assets/scss/archimedes.scss */
a {
  color: #ef404a;
  text-decoration: none;
  line-height: 1.4em;
}

/* line 119, ../assets/scss/archimedes.scss */
a:hover {
  text-decoration: underline;
}

/* line 120, ../assets/scss/archimedes.scss */
img {
  width: 100%;
  height: auto;
}

/* line 121, ../assets/scss/archimedes.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 126, ../assets/scss/archimedes.scss */
h1, h2, h3, h4, h5, h6, p, strong, span, .font, input, nav {
  /*  font-family: 'Fredoka One', cursive;
  font-family: 'Bangers', cursive;
  font-family: 'Lalezar', cursive;
  font-family: 'Changa One', cursive;
  font-family: 'Chicle', cursive;*/
  font-family: 'Baloo', sans-serif;
}

/* line 135, ../assets/scss/archimedes.scss */
h1 {
  font-size: 1.1rem;
  display: inline-block;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

/* line 143, ../assets/scss/archimedes.scss */
h2 {
  font-size: 2.2rem;
  margin: 20px 0 12px;
  line-height: 1;
}

/* line 147, ../assets/scss/archimedes.scss */
h3 {
  font-size: 1.8rem;
  line-height: 1em;
  margin: 20px 0 0;
}

/* line 152, ../assets/scss/archimedes.scss */
img {
  width: 100%;
}

/* line 153, ../assets/scss/archimedes.scss */
nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 159, ../assets/scss/archimedes.scss */
.nav-list {
  display: flex;
  float: right;
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  background-color: #333333;
  padding: 2rem;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 0.5s;
}
/* line 177, ../assets/scss/archimedes.scss */
.nav-list a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
}

/* line 184, ../assets/scss/archimedes.scss */
.open .nav-list {
  transform: translateX(0);
}

/* line 187, ../assets/scss/archimedes.scss */
.menu-toggle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* line 198, ../assets/scss/archimedes.scss */
.hamburger {
  width: 1.5rem;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  border: none;
  transition: all 0.7s ease-out;
}

/* line 206, ../assets/scss/archimedes.scss */
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  border: none;
}

/* line 216, ../assets/scss/archimedes.scss */
.hamburger::before {
  transform: translateY(-8px);
}

/* line 219, ../assets/scss/archimedes.scss */
.hamburger::after {
  transform: translateY(8px);
}

/* line 222, ../assets/scss/archimedes.scss */
.open .hamburger {
  background: transparent;
}

/* line 225, ../assets/scss/archimedes.scss */
.open .hamburger::before {
  transform-origin: 0, 0;
  transform: rotate(45deg);
}

/* line 229, ../assets/scss/archimedes.scss */
.open .hamburger::after {
  transform-origin: 0, 0;
  transform: rotate(-45deg);
}

@media screen and (min-width: 1000px) {
  /* line 234, ../assets/scss/archimedes.scss */
  .nav-list {
    position: initial;
    width: initial;
    height: initial;
    background-color: transparent;
    padding: 0;
    justify-content: initial;
    flex-direction: row;
    transform: initial;
    transition: initial;
  }
  /* line 244, ../assets/scss/archimedes.scss */
  .nav-list a {
    color: #000;
    font-size: 1rem;
    padding: 0 0.7rem;
    transition: all 0.1s;
  }
  /* line 249, ../assets/scss/archimedes.scss */
  .nav-list a:hover {
    border-bottom: 3px solid #000;
    text-decoration: none;
  }

  /* line 256, ../assets/scss/archimedes.scss */
  .menu-toggle {
    display: none;
  }
}
/* line 261, ../assets/scss/archimedes.scss */
header {
  display: flex;
  background: url(../img/tactics-psd-table1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #000;
  min-height: 55vh;
  padding: 50px 22px;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
/* line 280, ../assets/scss/archimedes.scss */
header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
/* line 289, ../assets/scss/archimedes.scss */
header > div {
  color: #fff;
  position: relative;
}

/* line 295, ../assets/scss/archimedes.scss */
.sign-up {
  background: url(../img/mp-signup-img2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #000;
  min-height: 85vh;
  padding: 50px 22px;
}

/* line 306, ../assets/scss/archimedes.scss */
.top {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-shadow: #000 0px 0px 10px, #000 0px 0px 20px, #000 0px 0px 5px;
}
/* line 309, ../assets/scss/archimedes.scss */
.top h2 {
  font-size: 2.2rem;
  display: block;
  color: #fff;
  line-height: 1em;
  padding: 0;
  margin: 0 0 12px;
}
/* line 317, ../assets/scss/archimedes.scss */
.top p {
  font-size: 1.2rem;
  display: block;
  color: #fff;
  line-height: 1em;
  width: 60vw;
  margin: 0 0 12px;
  max-width: 460px;
}
/* line 325, ../assets/scss/archimedes.scss */
.top p.small {
  font-size: 0.9rem;
  max-width: 310px;
  color: #aaa;
}
/* line 329, ../assets/scss/archimedes.scss */
.top p.small i {
  font-size: 1rem;
}
/* line 332, ../assets/scss/archimedes.scss */
.top h3 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  margin: 42px 0 8px;
}
/* line 338, ../assets/scss/archimedes.scss */
.top strong {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  margin: 42px 0 8px;
}

/* line 345, ../assets/scss/archimedes.scss */
.rules {
  background: #fff;
}

/* line 348, ../assets/scss/archimedes.scss */
.mid {
  max-width: 700px;
  margin: 0 auto 0;
  padding: 20px;
  overflow: hidden;
}
/* line 353, ../assets/scss/archimedes.scss */
.mid img {
  width: 100%;
}
/* line 354, ../assets/scss/archimedes.scss */
.mid span {
  font-size: 1.2rem;
  display: block;
}
/* line 357, ../assets/scss/archimedes.scss */
.mid strong {
  font-size: 1.3rem;
}
/* line 361, ../assets/scss/archimedes.scss */
.mid p {
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 15px auto;
}
/* line 369, ../assets/scss/archimedes.scss */
.mid li {
  list-style: disc;
  margin: 10px 15px 10px 25px;
}
/* line 372, ../assets/scss/archimedes.scss */
.mid li p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4em;
}
/* line 378, ../assets/scss/archimedes.scss */
.mid + .mid {
  border-top: solid 5px #000;
}

/* line 382, ../assets/scss/archimedes.scss */
label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

/* line 388, ../assets/scss/archimedes.scss */
a.btn {
  position: relative;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 11px;
  box-shadow: 1px 1px 9px #ccc;
  line-height: 1;
  background: #ef404a;
  color: #fff;
}
/* line 399, ../assets/scss/archimedes.scss */
a.btn .fa {
  position: absolute;
  right: -22px;
  color: #ef404a;
}

/* line 405, ../assets/scss/archimedes.scss */
.btn.big:hover {
  top: 1px;
  text-decoration: none;
}

/* line 408, ../assets/scss/archimedes.scss */
footer {
  background: #000;
  text-align: center;
  padding: 22px 22px 50px;
}
/* line 411, ../assets/scss/archimedes.scss */
footer p {
  color: #fff;
}
/* line 412, ../assets/scss/archimedes.scss */
footer a {
  color: #fff;
}
/* line 413, ../assets/scss/archimedes.scss */
footer .links {
  margin: 12px 0;
}
/* line 414, ../assets/scss/archimedes.scss */
footer .fa {
  color: #fff;
  font-size: 2rem;
  padding: 6px 12px;
}
/* line 416, ../assets/scss/archimedes.scss */
footer .fa:hover {
  color: #ffc20e;
  color: -moz-linear-gradient(top, #ffc20e 0%, #dc661e 100%);
  color: -webkit-linear-gradient(top, #ffc20e 0%, #dc661e 100%);
  color: linear-gradient(to bottom, #ffc20e 0%, #dc661e 100%);
}

/* MailChimp Form Embed Code - Slim - 12/15/2015 v10.7 */
/* line 428, ../assets/scss/archimedes.scss */
#mc_embed_signup h2cc {
  font-weight: bold;
  padding: 0;
  margin: 15px 0;
  font-size: 1.4em;
}

/* line 429, ../assets/scss/archimedes.scss */
#mc_embed_signup input {
  border: 0;
  -webkit-appearance: none;
}

/* line 430, ../assets/scss/archimedes.scss */
#mc_embed_signup input[type=checkbox] {
  -webkit-appearance: checkbox;
}

/* line 431, ../assets/scss/archimedes.scss */
#mc_embed_signup input[type=radio] {
  -webkit-appearance: radio;
}

/* line 432, ../assets/scss/archimedes.scss */
#mc_embed_signup .button {
  background: #ffc20e;
  background: -moz-linear-gradient(top, #ffc20e 0%, #dc661e 100%);
  background: -webkit-linear-gradient(top, #ffc20e 0%, #dc661e 100%);
  background: linear-gradient(to bottom, #ffc20e 0%, #dc661e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc20e', endColorstr='#dc661e',GradientType=0 );
  border: 0;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  min-height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

/* line 455, ../assets/scss/archimedes.scss */
#mc_embed_signup .button:hover {
  background: #dc661e;
  background: -moz-linear-gradient(top, #dc661e 0%, #ffc20e 100%);
  background: -webkit-linear-gradient(top, #dc661e 0%, #ffc20e 100%);
  background: linear-gradient(to bottom, #dc661e 0%, #ffc20e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc661e', endColorstr='#ffc20e',GradientType=0 );
}

/* line 462, ../assets/scss/archimedes.scss */
#mc_embed_signup .small-meta {
  font-size: 11px;
}

/* line 463, ../assets/scss/archimedes.scss */
#mc_embed_signup .nowrap {
  white-space: nowrap;
}

/* line 464, ../assets/scss/archimedes.scss */
#mc_embed_signup .clear {
  clear: none;
  display: inline;
}

/* line 466, ../assets/scss/archimedes.scss */
#mc_embed_signup input.email {
  font-size: 1.2rem;
  padding: 8px 20px;
  margin: 0 0 12px;
  width: 40%;
  min-width: 150px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
}

/* line 476, ../assets/scss/archimedes.scss */
#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0em .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin: 0 5%;
  clear: both;
}

/* line 477, ../assets/scss/archimedes.scss */
#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 1em .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

/* line 478, ../assets/scss/archimedes.scss */
#mc_embed_signup #mce-error-response {
  display: none;
}

/* line 479, ../assets/scss/archimedes.scss */
#mc_embed_signup #mce-success-response {
  color: #70bf54;
  display: none;
}

/* line 480, ../assets/scss/archimedes.scss */
#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

/* ------------ RESPONSE  - JUST Tablet */
/* line 487, ../assets/scss/archimedes.scss */
.left-img {
  max-width: 300px;
  max-width: 50%;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* line 494, ../assets/scss/archimedes.scss */
.right-img {
  max-width: 300px;
  max-width: 50%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* ------------ RESPONSE  - Bigger than Phone */
@media (min-width: 680px) {
  /* line 506, ../assets/scss/archimedes.scss */
  .sign-up {
    background: url(../img/mp-signup-img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000;
    min-height: 570px;
  }

  /* line 516, ../assets/scss/archimedes.scss */
  .top h2 {
    font-size: 2.6rem;
  }
  /* line 520, ../assets/scss/archimedes.scss */
  .top p {
    font-size: 1.4rem;
  }
}
